@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


@keyframes slideOutAnime {
    0% { 
      transform: translateX(-100%); opacity: 1;
   }
 
   80%{
      opacity:0 ;
      transform: rotate(-35deg);
   }
  
    100% { transform: translateX(0%); opacity: 1; }
  }

  #slideOutAnimation {
  
    animation: slideOutAnime 2s ease-in-out backwards;
  }

   
  